{% extends 'base.html' %}

{% block title %}
Customer Registration
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-lg-6">

<div class="glass p-5">

<div class="text-center mb-4">

<div style="font-size:65px;">🛍️</div>

<h2 class="gradient-text fw-bold">

Customer Registration

</h2>

<p class="text-secondary">

Create your shopping account.

</p>

</div>

<form method="POST">

{% csrf_token %}

{{ form.as_p }}

<button class="btn pastel-btn w-100 py-3 mt-3">

Create Account

</button>

</form>

</div>

</div>

</div>

{% endblock %}