{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <h2 class="text-center fw-bold mb-4">
                        OTP Verification
                    </h2>

                    <p class="text-center text-muted mb-4">
                        Enter the 6-digit OTP displayed in the terminal.
                    </p>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-4">

                            <label class="form-label fw-semibold">
                                Enter OTP
                            </label>

                            <input
                                type="text"
                                name="otp"
                                maxlength="6"
                                class="form-control form-control-lg"
                                placeholder="Enter 6-digit OTP"
                                required
                            >

                        </div>

                        <button
                            type="submit"
                            class="btn btn-primary w-100 btn-lg">

                            Verify OTP

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}