# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Media Cache
media/profile_images/*